/*Estilos generales*/
*
{
    font-family: Tahoma, Geneva, Verdana, 'sans-serif';
}
.icono
{
    float: left;
}
.icono img
{
    width: 32%;
}
.titulo
{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}
.icono
{
    position: absolute;
    left: 2.5%;
    top: 1%;
}
.content
{
    width: 100%;
    height: 100%;
}

/*estilo para celular*/
@media only screen and (max-width: 600px) 
{
    .navcel
    {
        box-sizing: content-box;
        position: absolute;
        top: 4%;
        right: 6%;
    }
    .navcel button
    {
        font-weight: bolder;
        font-style: normal;
        font-size: 400%;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        background: none;
        border: none;
    }
    .header-top
    {
        padding: 25%;
        background-image: url("../img/ab.jpg");
        background-position: 0px 0px;
        background-size: 100%;
        padding-top: 9%;
        background-repeat: no-repeat;
    }
    .menuMovil
    {
        display: none;
        width: 100%;
        height: 250px;
        text-align: center;
        background-color:rgb(15, 118, 179);
        position: absolute;
        top: 15%;
        padding-top: 3.5%;
        padding-bottom: 3.5%;
        font-size: 200%;
        color: white;
        animation: backInDown; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 1s; /* don't forget to set a duration! */
        animation-delay: 0s;
    }
    
}   
/* Estilos para pc/ipads*/
@media only screen and (min-width: 601px)
{ 
    .navcel
    { 
        display: none;
    }
}